@import url('https://fonts.googleapis.com/css2?family=Jomhuria:wght@400&display=swap');
.hamburgerMenuContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 10%;
}

.hamburgerMenuContentItem {
    font-size: 3rem;
    color: #ffffff;
    text-decoration: none;
    list-style: none;
    margin: 20px;
    font-family: Jomhuria;

}