@import url('https://fonts.googleapis.com/css2?family=Jomhuria:wght@400&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0; line-height: normal;
  overflow-x: hidden;
}

.sexyboi1Icon {
  position: absolute;
  top: 1541px;
  left: 301px;
  width: 336px;
  height: 454px;
  object-fit: contain;
}
.arneOveKoser1Icon {
  position: absolute;
  top: 1258px;
  left: 296px;
  width: 252px;
  height: 257px;
  object-fit: cover;
}
.hipphurraVintage1Icon {
  position: absolute;
  top: 1349px;
  left: -39px;
  width: 397px;
  height: 505px;
  object-fit: contain;
}
.bikkjeBrenn1Icon {
  position: absolute;
  top: 1019px;
  left: -12px;
  width: 324px;
  height: 399px;
  object-fit: contain;
}
.djEliasBw1Icon {
  position: absolute;
  top: 681px;
  left: -50px;
  width: 362px;
  height: 373px;
  object-fit: contain;
}
.djOveBw1Icon {
  position: absolute;
  top: 394px;
  left: 28px;
  width: 207px;
  height: 243px;
  object-fit: contain;
}
.mykkisWilhelmVinenKallerBwIcon {
  position: absolute;
  top: 398px;
  left: 211px;
  width: 275px;
  height: 412px;
  object-fit: contain;
}
.oveMiddagVintage1Icon {
  position: absolute;
  top: 26px;
  left: 12px;
  width: 237px;
  height: 321px;
  object-fit: contain;
}
.arneTarBilder1Icon {
  position: absolute;
  top: 15px;
  left: 202px;
  width: 284px;
  object-fit: contain;
}

.arneTarBilder1Icon {
  height: 384px;
}

.djEliasMedFilter1Icon {
  position: absolute;
  top: 802px;
  left: 241px;
  width: 324px;
  height: 393px;
  object-fit: contain;
}
.pictures {
  position: absolute;
  height: 100%;
  left: calc(50% - 258px);
  width: 517px;
  overflow-y: scroll;
  scrollbar-width: none;
  overflow-x: hidden;
}
.hamburgerMenuChild {
  width: 102px;
  position: relative;
  border-top: 1px solid #fff;
  box-sizing: border-box;
  height: 1px;
}
.hamburgerMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 13px;
  mix-blend-mode: normal;
  z-index: 1;
}
.bingen {
  mix-blend-mode: normal;
  position: relative;
  top: 8%;
  z-index: 1;
}
.homescreenOnIphone13 {
  background-color: #000;
  text-align: left;
  font-size: 75px;
  color: #fff;
  font-family: Jomhuria, monospace;
  width: 100%;
  height: 100vh;
}

.topBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

@keyframes slideUp {
  from {
    transform: translateY(80%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slideUpAnimation {
  animation: slideUp 2s ease forwards;
  position: absolute;
  height: 100%;
  left: calc(50% - 258px);
  width: 517px;
  overflow-y: scroll;
  scrollbar-width: none;
  overflow-x: hidden;
}
